@import "tailwindcss";

* {
  font-family: "Washa", sans-serif;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8) rotate(10deg);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(20deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}