@import "tailwindcss";

* {
    font-family: "Washa", "sans-serif";
}

@keyframes popOut {
  0%   { transform: scale(1); opacity: 1; }
  50%  { transform: scale(1.25); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

.highlight-cell {
  animation: popOut 0.5s ease-out forwards;
}
